<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="static/styles.css" />
  </head>
  <body>
    <div class="profile-section">
      <img src="static/profile.jpg" alt="profile picture" />
      <h1>Hi I'm Prayag</h1>
      <p>Senior Software Engineer</p>
      <p>
        Welcome to my simple portfolio! I use this page to demonstrate how basic
        HTML and CSS work together to create a profile.
      </p>
      <div>
        <button>linkedIn</button>
        <button>
          <a href="https://github.com/prayagcbose">GitHub</a>
        </button>
        <button>Projects</button>
      </div>
    </div>
  </body>
</html>
